:host { 
  display: contents; 
}
 
.legal-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.legal-fragment10 {
  display: contents;
}
 
.legal-text10 {
  display: inline-block;
}
 
.legal-fragment11 {
  display: contents;
}
 
.legal-text11 {
  display: inline-block;
}
 
.legal-fragment12 {
  display: contents;
}
 
.legal-text12 {
  display: inline-block;
}
 
.legal-fragment13 {
  display: contents;
}
 
.legal-text13 {
  display: inline-block;
}
 
.legal-fragment14 {
  display: contents;
}
 
.legal-text14 {
  display: inline-block;
}
 
.legal-fragment15 {
  display: contents;
}
 
.legal-text15 {
  display: inline-block;
}
 
.legal-fragment16 {
  display: contents;
}
 
.legal-text16 {
  display: inline-block;
}
 
.legal-fragment17 {
  display: contents;
}
 
.legal-text17 {
  display: inline-block;
}
 
.legal-fragment18 {
  display: contents;
}
 
.legal-text18 {
  display: inline-block;
}
 
.legal-fragment19 {
  display: contents;
}
 
.legal-text19 {
  display: inline-block;
}
 
.legal-fragment20 {
  display: contents;
}
 
.legal-text20 {
  display: inline-block;
}
 
.legal-fragment21 {
  display: contents;
}
 
.legal-text21 {
  display: inline-block;
}
 
.legal-fragment22 {
  display: contents;
}
 
.legal-text22 {
  display: inline-block;
}
 
.legal-fragment23 {
  display: contents;
}
 
.legal-text23 {
  display: inline-block;
}
 
.legal-fragment24 {
  display: contents;
}
 
.legal-text24 {
  display: inline-block;
}
 
.legal-fragment25 {
  display: contents;
}
 
.legal-text25 {
  display: inline-block;
}
 
.legal-fragment26 {
  display: contents;
}
 
.legal-text26 {
  display: inline-block;
}
 
.legal-fragment27 {
  display: contents;
}
 
.legal-text27 {
  display: inline-block;
}
 
.legal-fragment28 {
  display: contents;
}
 
.legal-text28 {
  display: inline-block;
}
 
.legal-fragment29 {
  display: contents;
}
 
.legal-text29 {
  display: inline-block;
}
 
.legal-fragment30 {
  display: contents;
}
 
.legal-text30 {
  display: inline-block;
}
 
.legal-fragment31 {
  display: contents;
}
 
.legal-text31 {
  display: inline-block;
}
 
.legal-fragment32 {
  display: contents;
}
 
.legal-text32 {
  display: inline-block;
}
 
.legal-fragment33 {
  display: contents;
}
 
.legal-text33 {
  display: inline-block;
}
 
.legal-fragment34 {
  display: contents;
}
 
.legal-text34 {
  display: inline-block;
}
 
.legal-fragment35 {
  display: contents;
}
 
.legal-text35 {
  display: inline-block;
}
 
.legal-fragment36 {
  display: contents;
}
 
.legal-text36 {
  display: inline-block;
}
 
.legal-fragment37 {
  display: contents;
}
 
.legal-text37 {
  display: inline-block;
}
 
.legal-fragment38 {
  display: contents;
}
 
.legal-text38 {
  display: inline-block;
}
 
.legal-fragment39 {
  display: contents;
}
 
.legal-text39 {
  display: inline-block;
}
 
.legal-fragment40 {
  display: contents;
}
 
.legal-text40 {
  display: inline-block;
}
 
.legal-fragment41 {
  display: contents;
}
 
.legal-text41 {
  display: inline-block;
}
 
.legal-fragment42 {
  display: contents;
}
 
.legal-text42 {
  display: inline-block;
}
 
.legal-fragment43 {
  display: contents;
}
 
.legal-text43 {
  display: inline-block;
}
 
.legal-fragment44 {
  display: contents;
}
 
.legal-text44 {
  display: inline-block;
}
 
.legal-fragment45 {
  display: contents;
}
 
.legal-text45 {
  display: inline-block;
}
 
.legal-fragment46 {
  display: contents;
}
 
.legal-text46 {
  display: inline-block;
}
 
.legal-fragment47 {
  display: contents;
}
 
.legal-text47 {
  display: inline-block;
}
