<div class="contact-container">
  <app-navbar8>
    <ng-template #link1>
      <div class="contact-fragment10">
        <span class="contact-text10">#home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="contact-fragment11">
        <span class="contact-text11">#projects</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="contact-fragment12">
        <span class="contact-text12">#skills</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="contact-fragment13">
        <span class="contact-text13">#about</span>
      </div>
    </ng-template>
    <ng-template #page1>
      <div class="contact-fragment14">
        <span class="contact-text14">Home</span>
      </div>
    </ng-template>
    <ng-template #page2>
      <div class="contact-fragment15">
        <span class="contact-text15">Projects</span>
      </div>
    </ng-template>
    <ng-template #page3>
      <div class="contact-fragment16">
        <span class="contact-text16">Skills</span>
      </div>
    </ng-template>
    <ng-template #page4>
      <div class="contact-fragment17">
        <span class="contact-text17">About</span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="contact-fragment18">
        <span class="contact-text18">Main Action</span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="contact-fragment19">
        <span class="contact-text19">Secondary Action</span>
      </div>
    </ng-template>
    <ng-template #page1Description>
      <div class="contact-fragment20">
        <span class="contact-text20">Summary of expertise and experience</span>
      </div>
    </ng-template>
    <ng-template #page2Description>
      <div class="contact-fragment21">
        <span class="contact-text21">
          Detailed projects showcasing business impact using the STAR method
        </span>
      </div>
    </ng-template>
    <ng-template #page3Description>
      <div class="contact-fragment22">
        <span class="contact-text22">
          Skills in BI tools, Python, compliance, and more
        </span>
      </div>
    </ng-template>
    <ng-template #page4Description>
      <div class="contact-fragment23">
        <span class="contact-text23">Background, experience, and values</span>
      </div>
    </ng-template>
  </app-navbar8>
  <contact-form3>
    <ng-template #action>
      <div class="contact-fragment24">
        <span class="contact-text24">Submit</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="contact-fragment25">
        <span class="contact-text25">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <span [innerHTML]="raw4g9i"></span>
        </span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="contact-fragment26">
        <span class="contact-text26">Get in touch with us</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="contact-fragment27">
        <span class="contact-text27">Contact us</span>
      </div>
    </ng-template>
  </contact-form3>
  <app-contact14>
    <ng-template #link1>
      <div class="contact-fragment28">
        <span class="contact-text28">Start new chat</span>
      </div>
    </ng-template>
    <ng-template #email1>
      <div class="contact-fragment29">
        <span class="contact-text29">info@businessanalystlifesciences.com</span>
      </div>
    </ng-template>
    <ng-template #phone1>
      <div class="contact-fragment30">
        <span class="contact-text30">+1-123-456-7890</span>
      </div>
    </ng-template>
    <ng-template #address1>
      <div class="contact-fragment31">
        <span class="contact-text31">
          123 Main Street, City, State, Zip Code
        </span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="contact-fragment32">
        <span class="contact-text32">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="contact-fragment33">
        <span class="contact-text33">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #content3>
      <div class="contact-fragment34">
        <span class="contact-text34">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #content4>
      <div class="contact-fragment35">
        <span class="contact-text35">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="contact-fragment36">
        <span class="contact-text36">Contact Information</span>
      </div>
    </ng-template>
    <ng-template #heading2>
      <div class="contact-fragment37">
        <span class="contact-text37">Live Chat</span>
      </div>
    </ng-template>
    <ng-template #heading3>
      <div class="contact-fragment38">
        <span class="contact-text38">Phone</span>
      </div>
    </ng-template>
    <ng-template #heading4>
      <div class="contact-fragment39">
        <span class="contact-text39">Office</span>
      </div>
    </ng-template>
  </app-contact14>
  <app-contact7>
    <ng-template #content1>
      <div class="contact-fragment40">
        <span class="contact-text40">
          businessanalyst@lifesciencesmanufacturing.com
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="contact-fragment41">
        <span class="contact-text41">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #location1>
      <div class="contact-fragment42">
        <span class="contact-text42">Email</span>
      </div>
    </ng-template>
    <ng-template #location2>
      <div class="contact-fragment43">
        <span class="contact-text43">Phone</span>
      </div>
    </ng-template>
    <ng-template #location1Description>
      <div class="contact-fragment44">
        <span class="contact-text44">
          Reach out to us via email for inquiries or to schedule a consultation.
        </span>
      </div>
    </ng-template>
    <ng-template #location2Description>
      <div class="contact-fragment45">
        <span class="contact-text45">
          Give us a call during business hours for immediate assistance.
        </span>
      </div>
    </ng-template>
  </app-contact7>
  <app-footer4>
    <ng-template #link1>
      <div class="contact-fragment46">
        <span class="contact-text46">Home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="contact-fragment47">
        <span class="contact-text47">Projects</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="contact-fragment48">
        <span class="contact-text48">Skills</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="contact-fragment49">
        <span class="contact-text49">About</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="contact-fragment50">
        <span class="contact-text50">Contact</span>
      </div>
    </ng-template>
    <ng-template #termsLink>
      <div class="contact-fragment51">
        <span class="contact-text51">Terms of Use</span>
      </div>
    </ng-template>
    <ng-template #cookiesLink>
      <div class="contact-fragment52">
        <span class="contact-text52">Cookies Policy</span>
      </div>
    </ng-template>
    <ng-template #privacyLink>
      <div class="contact-fragment53">
        <span class="contact-text53">Privacy Policy</span>
      </div>
    </ng-template>
  </app-footer4>
</div>
