:host { 
  display: contents; 
}
 
.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-fragment10 {
  display: contents;
}
 
.contact-text10 {
  display: inline-block;
}
 
.contact-fragment11 {
  display: contents;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-fragment12 {
  display: contents;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-fragment13 {
  display: contents;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-fragment14 {
  display: contents;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-fragment15 {
  display: contents;
}
 
.contact-text15 {
  display: inline-block;
}
 
.contact-fragment16 {
  display: contents;
}
 
.contact-text16 {
  display: inline-block;
}
 
.contact-fragment17 {
  display: contents;
}
 
.contact-text17 {
  display: inline-block;
}
 
.contact-fragment18 {
  display: contents;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-fragment19 {
  display: contents;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-fragment20 {
  display: contents;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-fragment21 {
  display: contents;
}
 
.contact-text21 {
  display: inline-block;
}
 
.contact-fragment22 {
  display: contents;
}
 
.contact-text22 {
  display: inline-block;
}
 
.contact-fragment23 {
  display: contents;
}
 
.contact-text23 {
  display: inline-block;
}
 
.contact-fragment24 {
  display: contents;
}
 
.contact-text24 {
  display: inline-block;
}
 
.contact-fragment25 {
  display: contents;
}
 
.contact-text25 {
  display: inline-block;
}
 
.contact-fragment26 {
  display: contents;
}
 
.contact-text26 {
  display: inline-block;
}
 
.contact-fragment27 {
  display: contents;
}
 
.contact-text27 {
  display: inline-block;
}
 
.contact-fragment28 {
  display: contents;
}
 
.contact-text28 {
  display: inline-block;
}
 
.contact-fragment29 {
  display: contents;
}
 
.contact-text29 {
  display: inline-block;
}
 
.contact-fragment30 {
  display: contents;
}
 
.contact-text30 {
  display: inline-block;
}
 
.contact-fragment31 {
  display: contents;
}
 
.contact-text31 {
  display: inline-block;
}
 
.contact-fragment32 {
  display: contents;
}
 
.contact-text32 {
  display: inline-block;
}
 
.contact-fragment33 {
  display: contents;
}
 
.contact-text33 {
  display: inline-block;
}
 
.contact-fragment34 {
  display: contents;
}
 
.contact-text34 {
  display: inline-block;
}
 
.contact-fragment35 {
  display: contents;
}
 
.contact-text35 {
  display: inline-block;
}
 
.contact-fragment36 {
  display: contents;
}
 
.contact-text36 {
  display: inline-block;
}
 
.contact-fragment37 {
  display: contents;
}
 
.contact-text37 {
  display: inline-block;
}
 
.contact-fragment38 {
  display: contents;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-fragment39 {
  display: contents;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-fragment40 {
  display: contents;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-fragment41 {
  display: contents;
}
 
.contact-text41 {
  display: inline-block;
}
 
.contact-fragment42 {
  display: contents;
}
 
.contact-text42 {
  display: inline-block;
}
 
.contact-fragment43 {
  display: contents;
}
 
.contact-text43 {
  display: inline-block;
}
 
.contact-fragment44 {
  display: contents;
}
 
.contact-text44 {
  display: inline-block;
}
 
.contact-fragment45 {
  display: contents;
}
 
.contact-text45 {
  display: inline-block;
}
 
.contact-fragment46 {
  display: contents;
}
 
.contact-text46 {
  display: inline-block;
}
 
.contact-fragment47 {
  display: contents;
}
 
.contact-text47 {
  display: inline-block;
}
 
.contact-fragment48 {
  display: contents;
}
 
.contact-text48 {
  display: inline-block;
}
 
.contact-fragment49 {
  display: contents;
}
 
.contact-text49 {
  display: inline-block;
}
 
.contact-fragment50 {
  display: contents;
}
 
.contact-text50 {
  display: inline-block;
}
 
.contact-fragment51 {
  display: contents;
}
 
.contact-text51 {
  display: inline-block;
}
 
.contact-fragment52 {
  display: contents;
}
 
.contact-text52 {
  display: inline-block;
}
 
.contact-fragment53 {
  display: contents;
}
 
.contact-text53 {
  display: inline-block;
}
